<link   href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Nunito:wght"@300;400;500;700&family=Rooto:wght@500;700;900&display=swap"rel="stylesheet">
:root {
    --white: #FFFFFF;
    --black: #000000;
    --purple: #6f2cff;
    

}
